body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; 
    color: #fff;
}
button{
    color: #333;
    background-color:white;
    
}



.topnav 
{
    overflow: hidden;
    background-color: white
  }
  
  
  .topnav a
   {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    border-color: black;
    font-size: 17px;
  }
  
  

  

  .topnav input[type=text] /*search bar*/
  {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    
    color: black;
  }
  



#Anime_Movies
 {
    display: flex;

    align-items: left; 
    
}




#button 
{
    display: flex;
    
    justify-content: flex-start;
    align-items: left;
    margin-right: 10px;
    text-align: center; 
}



header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

p
{
color: lightblue;
}




main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
   background-color: #333;
    padding: 10px;
    text-align: center;

    

}
